body {
    background-color: lightgray;
    font-family: sans-serif, Helvetica, Arial;
}

.bold {
    font-size: 12pt;
    font-weight: bold;
}

a:link {
    color: red;
    text-decoration: none;
}

a:visited {
     color: red;
}

a:hover {
    text-decoration: underline;
    color: red;
}

.oops {
    color: red;
}

.entries {
    font-size: 10pt;
    font-weight: normal;
}

.entrydescription {
    font-size: 10pt;
    color: darkblue;
}

.footer {
    font-size: 8pt;
    font-weight: normal;
}