body {
    background-color: lightgray;
    font-family: sans-serif, Helvetica, Arial;
}

.bold {
    font-size: 12pt;
    font-weight: bold;
}

.oops {
    color: red;
}

.entries {
    font-size: 10pt;
    font-weight: normal;

}