<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${#messages.msg('viewApplicationName') + ' :: ' + #messages.msg('viewTitleHome') }"></title>
    <link rel="stylesheet" th:href="@{/style.css}"></link>
</head>
<body>

<h1 th:text="${#messages.msg('viewHomeWelcome')}" />

<a th:href="@{/}" ><label th:text="${#messages.msg('menuTitleHome')}"/></a> | <a th:href="@{/user/registerNewUser}" ><label th:text="${#messages.msg('menuTitleregisterNewUser')}"/></a>

</body>
</html>